.elementor-2 .elementor-element.elementor-element-3b48a534 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    z-index: 1;
}

.elementor-2 .elementor-element.elementor-element-21242487>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-3a342ed6>.elementor-widget-container {
    margin: -30px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-4945d877 {
    --display: flex;
    --min-height: 0px;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --margin-top: -139px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2 .elementor-element.elementor-element-4945d877:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-4945d877>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #191D35;
}

.elementor-widget-image .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-2 .elementor-element.elementor-element-5cbbbbd4>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-5cbbbbd4.elementor-element {
    --align-self: center;
}

.elementor-2 .elementor-element.elementor-element-5cbbbbd4 {
    text-align: center;
}

.elementor-2 .elementor-element.elementor-element-182703e4:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-182703e4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #191D35;
}

.elementor-2 .elementor-element.elementor-element-182703e4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -20px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-2fef783e>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-574dcfed>.elementor-widget-container {
    margin: -30px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-3c0bf9c6:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-3c0bf9c6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #191D35;
}

.elementor-2 .elementor-element.elementor-element-3c0bf9c6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -50px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-776f34cf>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-4941594a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-32966f4c:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-32966f4c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #191D35;
}

.elementor-2 .elementor-element.elementor-element-32966f4c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -20px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-4881cf50>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-2f96b66d:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-2f96b66d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #191D35;
}

.elementor-2 .elementor-element.elementor-element-2f96b66d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -20px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-237d34ae>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-f3bbf0b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --margin-top: -50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2 .elementor-element.elementor-element-f3bbf0b:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-f3bbf0b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #191D35;
}

.elementor-2 .elementor-element.elementor-element-730ec32 {
    --display: flex;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2 .elementor-element.elementor-element-7291a71:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-7291a71>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #191D35;
}

.elementor-2 .elementor-element.elementor-element-7291a71 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-79edd5ed>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-43bfb96b:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-43bfb96b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #191D35;
}

.elementor-2 .elementor-element.elementor-element-43bfb96b>.elementor-container {
    max-width: 1020px;
}

.elementor-2 .elementor-element.elementor-element-43bfb96b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -20px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-2f5dc8ca>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-a08e6b1 {
    width: var( --container-widget-width, 100.852%);
    max-width: 100.852%;
    --container-widget-width: 100.852%;
    --container-widget-flex-grow: 0;
    z-index: 0;
}

.elementor-2 .elementor-element.elementor-element-a08e6b1>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-279438e3:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-279438e3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #191D35;
}

.elementor-2 .elementor-element.elementor-element-279438e3>.elementor-container {
    max-width: 1020px;
}

.elementor-2 .elementor-element.elementor-element-279438e3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-771041a8>.elementor-element-populated {
    margin: -80px 0px -60px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-37bdc85e:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-37bdc85e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #191D35;
}

.elementor-2 .elementor-element.elementor-element-37bdc85e>.elementor-container {
    max-width: 1020px;
}

.elementor-2 .elementor-element.elementor-element-37bdc85e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -20px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-67a65f31>.elementor-element-populated {
    margin: 0px 0px -30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-60cd5c45:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-60cd5c45>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #191D35;
}

.elementor-2 .elementor-element.elementor-element-60cd5c45 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -20px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-5129b571:hover>.elementor-element-populated {
    background-color: #FF000000;
}

.elementor-2 .elementor-element.elementor-element-5129b571 .elementor-element-populated a:hover {
    color: #FF000000;
}

.elementor-2 .elementor-element.elementor-element-5129b571>.elementor-element-populated {
    text-align: center;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-625de734:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-625de734>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #191D35;
}

.elementor-2 .elementor-element.elementor-element-625de734>.elementor-container {
    max-width: 1020px;
}

.elementor-2 .elementor-element.elementor-element-625de734 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -20px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-1b99d706>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-2 .elementor-element.elementor-element-10df8363>.elementor-widget-container {
    margin: -180px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-10df8363 {
    text-align: center;
}

.elementor-2 .elementor-element.elementor-element-10df8363 .elementor-heading-title {
    font-family: "Montserrat Alternates", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-07ebc92 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}

.elementor-2 .elementor-element.elementor-element-07ebc92:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-07ebc92>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #191D35;
}

.elementor-2 .elementor-element.elementor-element-1951725 {
    --display: flex;
    --margin-top: -85px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-2 .elementor-element.elementor-element-1951725.e-con {
    --align-self: center;
}

.elementor-widget-text-editor {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
    color: var( --e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-2 .elementor-element.elementor-element-6719756 {
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #7A7A7A;
}

.elementor-2 .elementor-element.elementor-element-dcbf5b8 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --margin-top: -20px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 10px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2 .elementor-element.elementor-element-dcbf5b8:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-dcbf5b8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-2 .elementor-element.elementor-element-4876bd21>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-4876bd21.elementor-element {
    --align-self: center;
}

.elementor-2 .elementor-element.elementor-element-4876bd21 {
    text-align: left;
}

.elementor-2 .elementor-element.elementor-element-4876bd21 .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-73305299>.elementor-widget-container {
    margin: -10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-73305299 {
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-73305299 a {
    color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-73305299 a:hover,
.elementor-2 .elementor-element.elementor-element-73305299 a:focus {
    color: #B15609;
}

@media(max-width:1024px) {
    .elementor-2 .elementor-element.elementor-element-6719756 {
        font-size: 11px;
    }
}

@media(min-width:768px) {
    .elementor-2 .elementor-element.elementor-element-4945d877 {
        --content-width: 1025px;
    }
    .elementor-2 .elementor-element.elementor-element-1951725 {
        --width: 80%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-2 .elementor-element.elementor-element-1951725 {
        --width: 100%;
    }
}

@media(max-width:767px) {
    .elementor-2 .elementor-element.elementor-element-3b48a534 {
        margin-top: -100px;
        margin-bottom: 0px;
    }
    .elementor-2 .elementor-element.elementor-element-21242487>.elementor-element-populated {
        margin: -100px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-4945d877 {
        --margin-top: -230px;
        --margin-bottom: -40px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    .elementor-2 .elementor-element.elementor-element-182703e4 {
        margin-top: -30px;
        margin-bottom: -40px;
        padding: 10px 0px 10px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-3c0bf9c6 {
        margin-top: -160px;
        margin-bottom: -40px;
        padding: 10px 0px 10px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-776f34cf>.elementor-element-populated {
        margin: -10px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 20px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-32966f4c {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 10px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-4881cf50>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-2f96b66d {
        margin-top: -150px;
        margin-bottom: 0px;
        padding: 0px 0px 10px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-237d34ae>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-73675ca8>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-f3bbf0b {
        --margin-top: -90px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 10px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-2 .elementor-element.elementor-element-730ec32 {
        --margin-top: -5px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-2 .elementor-element.elementor-element-10236a0>.elementor-widget-container {
        margin: -10px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-7291a71 {
        margin-top: -70px;
        margin-bottom: -40px;
        padding: 10px 0px 10px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-79edd5ed>.elementor-element-populated {
        margin: -20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-43bfb96b {
        margin-top: -80px;
        margin-bottom: -40px;
        padding: 0px 0px 10px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-2f5dc8ca>.elementor-element-populated {
        padding: 0px 0px 20px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-279438e3 {
        margin-top: -40px;
        margin-bottom: -40px;
        padding: 0px 0px 50px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-771041a8>.elementor-element-populated {
        margin: -80px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-37bdc85e {
        margin-top: -40px;
        margin-bottom: -40px;
        padding: 0px 0px 50px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-67a65f31>.elementor-element-populated {
        margin: -80px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-7b401611>.elementor-widget-container {
        margin: -10px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-60cd5c45 {
        margin-top: -50px;
        margin-bottom: -40px;
        padding: 10px 0px 10px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-5129b571>.elementor-element-populated {
        margin: -30px 0px -10px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-625de734>.elementor-container {
        max-width: 1573px;
    }
    .elementor-2 .elementor-element.elementor-element-625de734 {
        margin-top: -40px;
        margin-bottom: -25px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-1b99d706 {
        width: 100%;
    }
    .elementor-2 .elementor-element.elementor-element-1b99d706>.elementor-element-populated {
        margin: -30px 0px -20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-4edf9747>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-10df8363>.elementor-widget-container {
        margin: -70px 0px 0px 0px;
        padding: 10px 10px 10px 10px;
    }
    .elementor-2 .elementor-element.elementor-element-10df8363.elementor-element {
        --align-self: center;
    }
    .elementor-2 .elementor-element.elementor-element-10df8363 {
        text-align: center;
    }
    .elementor-2 .elementor-element.elementor-element-10df8363 .elementor-heading-title {
        font-size: 12px;
    }
    .elementor-2 .elementor-element.elementor-element-07ebc92 {
        --margin-top: 25px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-2 .elementor-element.elementor-element-1951725 {
        --margin-top: -18px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 10px;
        --padding-bottom: 0px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    .elementor-2 .elementor-element.elementor-element-6719756>.elementor-widget-container {
        margin: 0% 0% 0% 0%;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-dcbf5b8 {
        --margin-top: -17px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-2 .elementor-element.elementor-element-421871f>.elementor-widget-container {
        margin: 0px 0px -25px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-4876bd21>.elementor-widget-container {
        margin: -10px 0px 0px 0px;
        padding: 10px 10px 10px 10px;
    }
    .elementor-2 .elementor-element.elementor-element-4876bd21 {
        text-align: center;
    }
    .elementor-2 .elementor-element.elementor-element-4876bd21 .elementor-heading-title {
        font-size: 12px;
        line-height: 1.5em;
    }
    .elementor-2 .elementor-element.elementor-element-73305299>.elementor-widget-container {
        margin: -30px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-73305299 {
        font-size: 12px;
    }
}